<div class="col-md-6">
  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header">
      <div>
        <strong>Bootstrap</strong>: <%= title %><br />
        <small class="text-muted">Static Bootstrap markup from docs</small>
      </div>
      <div>
      </div>
    </div>
    <div class="card-body">
      <%= yield %>
    </div>
  </div>
</div>