<% content_for :breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
  <li class="breadcrumb-item active">Examples</li>
<% end %>

<div class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card box-shadow mb-4">
          <div class="card-body">
            <h5 class="card-title">Vertical Form</h5>
            <h6 class="card-subtitle mb-2 text-muted">Reference Examples</h6>
            <%= link_to "Vertical Form", examples_verticals_new_path, class: "btn btn-outline-primary mt-2" %>
            <%= link_to "Vertical Form", [:examples, :verticals, :new], class: "btn btn-outline-primary mt-2"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
