$theme-colors: ( "simpleform": #114f7c, "bootstrap": #563d7c );
@import "bootstrap";

@import "application/header";
@import 'application/footer';

@import "components/alert";

@import "simple_form-bootstrap/simple_form-bootstrap";

body {
  margin-top: 56px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
